.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("https://img.freepik.com/free-photo/mesmerizing-green-forest-full-different-kinds-unique-plants-yakushima-japan_181624-36812.jpg?t=st=1709945766~exp=1709949366~hmac=66c4f9a8be4f9976e111b33d8085882ac64096877ef13875986dac1d50aa521d&w=1380")
    no-repeat;
  /* background: url("https://img.freepik.com/free-photo/sunny-tropical-landscape_23-2150466874.jpg?t=st=1709868528~exp=1709872128~hmac=7d877674fb0e0d558b402bd20b539efdbadbc9909331d424b0f5574693272d75&w=1380")
    no-repeat; */
  background-size: cover;
  background-position: center;
  padding: 20px 10%;
}

.home-part {
  display: flex;
  align-items: center;
  height: 700px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* backdrop-filter: blur(20px); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0, 0.2);
  border-radius: 9px;
}

.home-content {
  flex: 1;
  padding-right: 20px;
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
  /* backdrop-filter: blur(2px); */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0, 0.2); */
}

.home-content h1 {
  position: relative;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.home-content h3 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}

.home-content p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
}

.btn-home {
  text-decoration: none;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  /* background: #00abf0; */
  /* backdrop-filter: blur(2px); */
  background: #ededed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  font-size: 19px;
  /* color: #ededed; */
  color: #333;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-home:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  background: transparent;
  color: #ededed;
  /* color: #333; */
  /* color: #ededed; */
}

.btn-home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  /* background: red; */
  background: green;

  z-index: -1;
  transition: 0.5s;
}

.btn-home:hover::before {
  width: 100%;
}

.img-home {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
  /* backdrop-filter: blur(2px); */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0, 0.2); */
}

.img-home img {
  max-width: 67%;
}

/* 
.home-part {
  text-align: start;
}

.home-part img {
  max-width: 500px;
}

.home-content {
  margin-top: 100px;
  padding: 30px 40px;
  text-align: center;
  backdrop-filter: blur(2px);
  font-size: 18px;
  font-weight: 500;
}

.home-content button {
  text-decoration: none;
  width: 110px;
  height: 40px;
  border-radius: 9px;
  border: none;
  font-size: 18px;
  font-weight: 500;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0, 0.2);
}

.home-content button:hover {
  background: #e0e0e0;
}

.home-content button a {
  text-decoration: none;
  color: yellowgreen;
} */
