.user {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("https://img.freepik.com/free-photo/beautiful-trees-lake-rubber-plantation-kerala-india_181624-19474.jpg?t=st=1709869772~exp=1709873372~hmac=84f31b0c296eced071c4b62a3dfcb1da2c01d44d0cbf7a43277e70b0dbf47f25&w=1380")
    no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px 10%;
}
