.user {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("https://img.freepik.com/free-photo/beautiful-trees-lake-rubber-plantation-kerala-india_181624-19474.jpg?t=st=1709869772~exp=1709873372~hmac=84f31b0c296eced071c4b62a3dfcb1da2c01d44d0cbf7a43277e70b0dbf47f25&w=1380")
    no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px 10%;
}

.user h1 {
  margin-top: 77px;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.user-card {
  margin-top: 77px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.user-card h1 {
  margin-top: 20px;
  font-size: 21px;
}

.user-card img {
  width: 300px;
  border-radius: 9px;
}

.avatar-user {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-detail {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-detail button {
  text-decoration: none;
  color: #333;
  background: #ededed;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  padding: 4px;
  margin: 10px;
  width: 300px;
  height: 40px;
}

.btn-pagination {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-pagination button {
  text-decoration: none;
  color: #333;
  background: #ededed;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  padding: 4px;
  margin: 10px;
  width: 100px;
  height: 40px;
}

.btn-detail button:hover,
.btn-pagination button:hover {
  background: #d4d4d4;
  color: #252525;
}
