.user {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background: url("../src/assets/img/User/user.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px 10%;
}

.user-title {
  margin-top: 100px;
  font-size: 21px;
  width: 500px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0, 0.2);
  color: #ededed;
  border-radius: 10px;
  padding: 30px 40px;
  margin-left: auto;
  margin-right: auto;
}

.user-card {
  margin-top: 80px;
  width: 420px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0, 0.2);
  color: #ededed;
  border-radius: 10px;
  padding: 30px 40px;
  margin-left: auto;
  margin-right: auto;
}

.user-card h1 {
  /* margin-top: 20px; */
  /* margin: 20px; */
  font-size: 21px;
}

.user-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.avatar-user {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  border-radius: 9px;
  margin-top: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  animation: ease-in-out 1s;
}

.avatar-user:hover {
  transform: scale(1.03);
  /* animation: smoothScale 0.7s cubic-bezier(0.25, 0.1, 0.25, 1); */
  cursor: pointer;
}

/* @keyframes smoothScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
} */

.btn-detail {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-detail button {
  text-decoration: none;
  color: #333;
  background: #ededed;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  padding: 4px;
  margin: 10px;
  width: 420px;
  height: 40px;
}

.btn-pagination {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-pagination button {
  text-decoration: none;
  color: #333;
  background: #ededed;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  padding: 4px;
  margin: 10px;
  width: 100px;
  height: 40px;
}

.btn-detail button:hover,
.btn-pagination button:hover {
  background: green;
  color: #d4d4d4;
}

.btn-pagination button.active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  background-color: transparent;
  color: white;
}

.btn-pagination button.disabled {
  color: #333;
  background: grey;

}