footer {
  backdrop-filter: blur(20px);
  background: url("https://img.freepik.com/free-photo/beautiful-trees-lake-rubber-plantation-kerala-india_181624-19474.jpg?t=st=1709903072~exp=1709906672~hmac=2c0228282c652b8ce92cfbee37b337b703a703ef8f95b9390f4bab0dd7f8b3ba&w=1380");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

 
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 20px 10%;
  
  background: transparent;
  backdrop-filter: blur(20px);
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.footer img {
  width: 100px;
  height: auto;
  margin-right: 25px;
  justify-content: center;
}

.footer p {
  font-size: 14px;
  margin-top: 10px;
}

.footer-left {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.footer-center {
  margin-bottom: 5px;
  margin-top: 25px;
  align-items: center;
  text-align: center;
}

.footer-right {
  margin-top: 25px;
}

.footer-right form {
  display: flex;
  align-items: center;
}

.footer-right input[type="text"],
.footer-right input[type="email"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  /* border: none;
    border-radius: 5px;
    margin-right: 10px; */
}

.footer-right button {
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: greenyellow;
  text-decoration: none;
  margin-right: 10px;

  /* display: inline-block;
    margin-right: 10px;
    font-size: 24px;
    color: #007bff; */
}

.social-icons a:last-child {
  margin-right: 0;
}

.copyright {
  margin-top: 20px;
  text-align: center;
  text-align: center;
  padding: 20px 10%;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-left img {
    margin-right: 0;
  }

  .footer-center {
    text-align: center;
  }
  .footer-right form {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 980px) {
  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-left img {
    margin-right: 0;
  }
  .footer-center {
    text-align: center;
  }
  .footer-right form {
    flex-direction: none;
    align-items: center;
  }

  .copyright {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1300px) {
  .footer-right form {
    flex-direction: column;
    align-items: center;
  }
}
