@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #081b29;
  color: #ededed;
}

button {
  cursor: pointer;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  display: flex;
  padding: 20px 10%;
}

.logo a {
  text-decoration: none;
  position: relative;
  font-size: 24px;
  font-weight: 600;
  color: #ededed;
}

.navbar-nav {
  display: flex;
}

.navbar-nav a {
  text-decoration: none;
  color: #ededed;
  font-size: 18px;
  font-weight: 500;
  margin-left: 35px;
}

.navbar-toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #081b29;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .navbar-nav.active {
    display: flex;
  }

  .navbar-nav a {
    margin: 10px 0;
  }

  .navbar-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    color: #ededed;
  }
}
